.list{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #e8e8e8;
}
.header {

margin: 0 0 30px 0;
}
.header__body {
	max-width: 1000px;
	margin: 0 auto;
	background: ;
}
.header__nav {
	padding: 40px 0 0 40px;

}
.nav__link {
	margin: 50px 20px 0 20px;
	/*background-color: #818181;*/
	border-radius: 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #818181;
	font-weight: bold;
}

.header__title {
	padding: 50px;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}
.header__image {
	padding: 3px;
	width: 250px;
	margin: 0 auto;
	border: 3x solid #818181;
	box-shadow: 2px 2px 5px 7px #818181;
}

.about {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;


}
.about__body {}
.about__row {}
.item-about {}
.item-about__icon {
	display: inline;
}
.star{
	width: 10px;
	height: 10px;
	padding: 0 0 0 40px;

}
.item-about__title {
	padding: 20px 0 0 10px;
	border-left: ;
	font-size: 20px;
	display: inline;
}
.item-about__text {
text-indent: 50px;
padding: 0 0 30px 0;
}
.footer {}
.footer__body {
	border-top: 3px solid #818181;
}
.footer__text {
	text-align: center;
	font-weight: 700;
}