.top{ text-align: center;
	padding: 30px;
	
	}
body{
	background-color:#e8e8e8  ;
}
.top-link{
border-radius: 5px;
	padding: 0 10px 0 10px;
	background-color: #818181;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
}
h1{
	color: #273d46;
	font-size: 40px;
}
.titleimg{
	
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	display: block;
	text-align: center;
}
.text{
	color: #273d46;
}
.marks{
	background:url(img/icons/.svg);
}
.title{
	border-left: 5px solid #889eab;
	color: #324750;
	padding: 0 0 0 10px;
}
.name{
	display: block;
	border-top: 1px solid #324750;
}
.img{
	border: 1px solid #000;
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
}
